.test{
    bacground: balck;
}

/*Test Autoprefixer*/

.autoprefixer{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*Test cssnext*/

.cssnext{
    backgroud: rgba(255, 0, 0, 0.9);
}

/*Test precss*/

.precss{
    background: green
}